<extend  name="Public/layout"/>
<body>
<block name="content">
 	<div class="page-content">
 		<div class="page-header">
			<h1>
				<a href="<{:U('Admin/Book/dir',array('id'=>session('bid')))}>">返回</a>
				<small>
					<i class="icon-double-angle-right"></i>
					内容
				</small>
			</h1>
		</div>

		<a href="<{:U('contentadd',array('id'=>$id))}>"><h3>添加内容</h3></a>
		<hr>
		<div class="row">
			<div class="col-sm-6" class="widget-box">
		上传时间<h2 class="lead"><{:date('Y-m-d H:i:s',$con[0][con_time])}></h2>
		<h2></h2>
			<p class="lead"></p>
		<div></div>
		</div>
		</div>
	
	<div class="widget-box">
		<div class="widget-header widget-header-flat">
			<h4><{$name}></h4>
		</div>
		<div class="widget-body" >
			<div class="widget-main" >
				<div class="row">
					<div class="col-sm-6" >
					<{$con[0].con_content}>							
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</block>	
</body>