<extend  name="Public/layout"/>
<body>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="<{:U('Admin/Conventional/index')}>">主页</a>
            </li>

            <li>
                <a href="<{:U('Admin/Book/index')}>">书籍管理</a>
            </li>
            <li class="active">编辑书籍</li>
        </ul><!-- .breadcrumb -->

    </div>

 	<div class="page-content">

 		<div class="page-header">
			<h1>
				书籍管理
				<small>
					<i class="icon-double-angle-right"></i>
					编辑书籍
				</small>
			</h1>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
			<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>
		    <div><img src="__ROOT__/Uploads/<if condition='$data["b_img"] == null'>img/book.jpg<else /><{$data.b_img}></if>"  id="show"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>
			<input type="file" name="file" class="layui-upload-file" lay-title="修改图片">
		</div>
		<form class="form-horizontal" role="form" action="<{:U('update')}>" method="post">
			<!--<input type="hidden" name="b_time" value="<{:time()}>">-->
			<input type="hidden" name="b_id" value="<{$data.b_id}>" id="b_id">
            <input type="hidden" name="b_img" id="b_img" value="<if condition='$data.b_img != null'><{$data.b_img}></if>">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 书名 </label>

				<div class="col-sm-6">
					<input type="text" value="<{$data.b_name}>" class="col-xs-10 col-sm-5" name="b_name" />
				</div>

			</div>
			<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 类型 </label>
			<div class="col-sm-6">
			<select id="cg" onchange="change(this)" >
					<foreach name="type3" item="v2">						
						<option data-skin="default" value="" id="op1" ><{$v2.t_name}>
					</foreach>
					<foreach name="list" item="v">					
						<option data-skin="default" value="<{$v.t_id}>" id="options" ><{$v.t_name}>
						</option>
					</foreach>
			</select>
		
			<select id="seconds"  name="b_tid">	
				<foreach name="type2" item="v1">						
					<option data-skin="default" value="<{$v1.t_id}>" id="op2" ><{$v1.t_name}>
				</foreach>
							
			</select>
			</div>
			</div>
			<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 作者</label>
								
				<div class="col-sm-6">
					<input type="text" id="form-field-1" value="<{$data.b_author}>" class="col-xs-10 col-sm-5" name="b_author" />
				</div>
			</div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 书籍简介</label>
                <div class="col-sm-9" >
                    <textarea name="b_introduce" cols="50" rows="10"><{$data.b_introduce}></textarea>
                </div>
            </div>

			<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>
				<div class="col-sm-6">
					<input type="reset" value="重置" onclick="resetImg()" class="btn btn-success">
					<input type="submit" value="提交" class="btn btn-success">
				</div>
			</div>
		</form>
		
	</div>
	<!-- 引入 -->
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/layui/layui.js"></script>	
	<script>
	function change(obj)
	{		
		// console.log(obj.value);
       
		$.ajax({
            type:'get',
            url:"<{:U('getadd',"","")}>/b_id/" + obj.value,
            dataType:'json',
            success:function(data){
                // console.log(eval(data)[0]['t_name']);
                var d = eval(data);
                // console.log(d);
                seconds.options.length = 0;
                for (var i = 0; i < d.length; i++) {

                    seconds.add(new Option(d[i]['t_name'],d[i]['t_id']));
                }

            }
        })
            op1.style.display = 'none';
            op2.style.display = 'none';
		
	}

    // 上传文件
    layui.use('upload', function(){
        layui.upload({
            url: "<{:U('Admin/Book/upload')}>" //上传接口
            ,method: 'post',
            data:1
            ,before: function(input){
                //返回的参数item，即为当前的input DOM对象
                layer.msg('文件上传中.....', {
                    icon: 16
                    ,shade: 0.01,
                    time:0,
                });
            }
            ,success: function(res){ //上传成功后的回调
                layer.closeAll();
                if(res.code == 0) {
                    $('#show').attr('src','__ROOT__/Uploads/' + res.url);
                    $('#b_img').val(res.url);
                } else {
                    layer.msg('文件上传失败', {icon: 6});
                }
            }
        });
    });

    function resetImg() {
        $('#imgShow').hide();
        if($('#b_img').val() != '') {
            $.post('<{:U("Admin/Book/delImg")}>',{'img':$('#b_img').val()});
            $('#b_img').val('');
        }
        $('#show').attr('src',"/Uploads/<if condition='$data["b_img"] == null'>img/book.jpg<else /><{$data.b_img}></if>");
        /*$.post('<{:U("Admin/Book/delImg")}>',{'img':$('#b_img').val()});
         $('#b_img').val('');*/
    }
	</script>
</block>	
</body>