<extend name="Public/layout"/>
<body>
<block name="content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="<{:U('Admin/Conventional/index')}>">主页</a>
            </li>

            <li class="active">书籍管理</li>
        </ul><!-- .breadcrumb -->

    </div>

    <div class="row" style="margin: 0;">
        <div class="col-xs-12">
            <div class="col-xs-6"><a href="<{:U('add')}>" class="btn btn-info ">
                <i class="icon-cloud-upload bigger-200"></i>
                添加</a></div>
            <h3 class="header smaller lighter blue">书籍管理</h3>
            <div class="table-header">
                书籍管理列表
            </div>
            <div class="table-responsive">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>

                        <th class="hidden-480">id</th>
                        <th>书籍名称</th>
                        <th>作者</th>
                        <th class="hidden-480">访问数量</th>
                        <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            修改时间
                        </th>
                        <th class="hidden-480">状态</th>

                        <th>编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="list" item="v">
                        <tr>

                            <td><{$v.b_id}></td>
                            <td>
                                <a href="<{:U('dir',array('id'=>$v['b_id']))}>"><{$v.b_name}></a>
                            </td>
                            <td>
                                <a href="#"><{$v.b_author}></a>
                            </td>

                            <td class="hidden-480"><{$v.b_click}></td>

                            <td><{:date('Y-m-d H:i:s',$v['b_time'])}></td>


                            <td class="hidden-480">
                                <if condition="$v.b_status eq 1"><span class="label label-sm label-warning">发布</span>
                                    <elseif condition="$v.b_status eq 2"/>
                                    <span class="label label-sm label-inverse arrowed-in">下架</span>
                                    <else/>
                                    <span class="label label-sm label-inverse arrowed-in">待审核</span>
                                </if>
                            </td>

                            <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <a class="blue" href="<{:U('dir',array('id'=>$v['b_id']))}>" title="查看目录">
                                        <i class="icon-zoom-in bigger-130"></i>
                                    </a>

                                    <a class="green" href="<{:U('edit',array('id'=>$v['b_id']))}>" title="编辑">
                                        <i class="icon-pencil bigger-130"></i>
                                    </a>

                                    <a class="red" href="<{:U('del',array('id'=>$v['b_id']))}>" title="下架该书">
                                        <i class="icon-trash bigger-130"></i>
                                    </a>
                                </div>

                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                data-toggle="dropdown">
                                            <i class="icon-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                            <li>
                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
											<span class="blue">
												<i class="icon-zoom-in bigger-120"></i>
											</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
											<span class="green">
												<i class="icon-edit bigger-120"></i>
											</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
											<span class="red">
												<i class="icon-trash bigger-120"></i>
											</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="modal-footer no-margin-top">
        <ul class="pagination pull-right no-margin">
            <{$page}>
        </ul>
    </div>
    <script src="__PUBLIC__/layui/layui.js"></script>
</block>
</body>
