.center .my-nav {
    background: #393D49;
    padding: 0;
    color:#fbfbfb;
}

.center .my-nav ul{
    width: 100%;
    margin: 0;
}

.sp-10 {
    height: 10px;
}

.myReturn {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.my-info-content .myInfo{

}

/*.my-info-content .myInfo table{
    border: 1px solid #DCEBF7;
}*/

.my-info-content .myInfo tr td:first-child {
    background: #EDF3F4;
    width: 100px;
    text-align: right;
    border: 1px dotted #FFFFFF;
    min-height: 30px;
    padding: 5px;
}

.my-info-content .myInfo tr td:last-child {
    width: 300px;
    border: 1px dotted #DCEBF7;
    padding: 10px;
}

.tuling{
    width: 200px;
    /*height: 300px;*/
    /*border: 1px solid red;*/
    position: fixed;
    top:100px;
    left: 20px;
}

