<!DOCTYPE HTML>
<html>
<head>
<title>终点中文网</title>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
		html,body {
		    height: 100%;
		}
		 .footer {
		    border-top: 1px solid #e5e5e5;
		    color: #777;
		    padding: 19px 0;
		    background-color: #f5f5f5;
		}
	</style>
  </head>
<body>
	<!--导航栏-->
<nav class="navbar  navbar-inverse " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<{:U('Index/index')}>">终点中文网</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <!--获取导航-->
      <{:W('Nav/getNav')}>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <if condition="session('home_name') neq null">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎您：<{:I('session.home_name')}> <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">个人中心</a></li>
	            <li class="divider"></li>
	            <li><a href="<{:U('Login/logout')}>">退出</a></li>
	          </ul>
	        </li>
	    <else/> <li><a href="<{:U('Reg/index')}>">注册</a></li> <li><a href="<{:U('Login/index')}>">登录</a></li>
	    </if>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<block name="content">
	</block>
<!-- <div class="navbar navbar-fixed-bottom"> -->
	<div class="footer ">
	    <div class="container">
	        <div class="row footer-top">
	            <div class="col-sm-6 col-lg-6">
	                <h4></h4>
	                <p>欢迎你加入，这里有你想要的.</p>
	            </div>
	            <div class="col-sm-6  col-lg-5 col-lg-offset-1">
	                <div class="row about">

                        <!--获取友情链接-->
                        <{:W('Link/getLink')}>

	                    <div class="col-xs-3">
	                        <h4>关于</h4>
	                        <ul class="list-unstyled">
	                            <li>
	                                <a href="">关于我们</a>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="col-xs-3">
	                        <h4>联系方式</h4>
	                        <ul class="list-unstyled">
	                            <li>
	                                <a target="_blank" title="终点网官方微博" href="">新浪微博</a>
	                            </li>
	                            <li>
	                                <a href="">电子邮件</a>
	                            </li>
	                        </ul>
	                    </div>
	                </div>

	            </div>
	        </div>
	        <hr>
	        <div class="row footer-bottom">
	            <ul class="list-inline text-center">
	                <li>Copyright &copy;2016. n 终点图书限公司 Software All Rights Reserved.</li>
	            </ul>
	        </div>
	    </div>
	</div><!--footer-->
<!-- </div> -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="__PUBLIC__/dist/js/holder.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
</body>
</html>		