<extend name="Public/layout"/>
<block name="content">
	<div class="header">	
      <div class="container"> 
  	     <div class="logo">
			<h1><a href="index.html">终点中文网</a></h1>
		 </div>

		 <div class="top_right">
		 <if condition="session('name') eq null">
		   <ul>
			<li><a href="register.html">注册</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>登录</span></a>
					  <div id="loginBox">                
						  <form id="loginForm" action="<{:U('Login/index')}>" method="post">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">用户名</label>
			                          <input type="text" name="username" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">密码</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="登录">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住我</i></label>
			            	</fieldset>
			                 <span><a href="#">忘记密码?</a></span>
						   </form>
				        </div>
			      </div>
			</li>
		 	</ul>
		     <else /><li style="list-style:none;color:white;">欢迎您：<a href="<{:U('Index/index')}>"><{:I('session.name')}></a></li>

		 	 </if>
	     </div><!--top_right-->

		 <div class="clearfix"></div>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			<div class="span_1_of_1">
			    <h2>Photos, illustrations by<br> Creatives all over the world.</h2>
			    <div class="search" style="width:368px;">
			      <ul class="nav1">
		            <li id="search">
						<form action="" method="get">
							<input type="text" name="search_text" id="search_text" placeholder="Search"/>
							<input type="button" name="search_button" id="search_button">
							<!-- <select name="searchtype" id="" class="form-control">
								<li id="options">
									<option value=""><a href="#">作品</a></option>
									<ul class="subnav">
										<option value=""><li><a href="#">作者</a></li></option>
									</ul>
								</li>
							</select> -->
						</form>
					</li>
	              </ul>
	            </div>
			</div>
		</div>
	</div>

	<div class="grid_1">
		<h3>作品分类</h3>
		<div class="col-md-2 col_1">
			<h4>玄幻</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/g1.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/g2.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/g3.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/g4.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/g5.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<h4>都市</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/f1.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic9.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/f2.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/f3.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/f4.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<h4>仙侠</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/w1.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic15.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/w2.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/w3.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/w4.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<h4>科幻</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic20.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic21.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic22.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic23.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="__PUBLIC__/homemodel/images/pic24.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="clearfix"> </div>
	</div>
    <div class="copyrights">Collect from <a href="zhongdian.com" >终点中文网</a></div>
	<div class="grid_2">
		<div class="container"> 
			<div class="col-md-3 col_2">
				<h3>Stock Photo<br>Categories</h3>
			</div>
			<div class="col-md-9 col_5">
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Abstract</a></li>
			            <li><a href="stock.html">Animals/Wildlife</a></li>
			            <li><a href="stock.html">The Arts</a></li>
			            <li><a href="stock.html">Backgrounds/Textures</a></li>
			            <li><a href="stock.html">Beauty/Fashion</a></li>
			            <li><a href="stock.html">Buildings/Landmarks</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Business/Finance</a></li>
			            <li><a href="stock.html">Celebrities</a></li>
			            <li><a href="stock.html">Editorial</a></li>
			            <li><a href="stock.html">Education</a></li>
			            <li><a href="stock.html">Food and Drink</a></li>
			            <li><a href="stock.html">Healthcare/Medical</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Holidays</a></li>
			            <li><a href="stock.html">Illustrations/Clip-Art</a></li>
			            <li><a href="stock.html">Industrial</a></li>
			            <li><a href="stock.html">Interiors</a></li>
			            <li><a href="stock.html">Miscellaneous</a></li>
			            <li><a href="stock.html">Model Released Only</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Nature</a></li>
			            <li><a href="stock.html">Objects</a></li>
			            <li><a href="stock.html">Parks/Outdoor</a></li>
			            <li><a href="stock.html">People</a></li>
			            <li><a href="stock.html">Religion</a></li>
			            <li><a href="stock.html">Science</a></li>
		            </ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="support.html">Support</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="#">Categories</a></li>
         </ul>
         <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="" target="_blank">网页模板</a></p>
	  </div>
	</div>
</block>
