<extend name="Public/layout"/>
<block name="content">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
    <!-- 轮播图 -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="ad">全网第一家正版免费阅读平台</a>
                <a href="" class="ad1">申请加入我们 成为常驻作者</a>
                <a href="" class="ad2">看好的书籍，成为思想的主人</a>
                <!-- <a href="" class="ad">作者</a> -->
            </div>
            <div class="col-md-10">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators --> <!--遍历小点-->
                    <ol class="carousel-indicators">
                        <for start="0" end="$count">
                            <li data-target="#carousel-example-generic" data-slide-to="<{$i}>" class="active"></li>
                            <!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
                        </for>
                    </ol>

                    <!-- Wrapper for slides -->
                    <!--遍历图片-->
                    <div class="carousel-inner" role="listbox">
                        <for start="0" end="$count">
                            <!-- <{$i}> -->
                            <if condition="$i eq '0'">
                                <div class="item active">
                                    <else/>
                                    <div class="item ">
                            </if>
                            <img src="<{$play[$i]['p_pic']}>" alt="..." style="margin:0 auto;" width="945">
                            <div class="carousel-caption">

                            </div>
                    </div>

                    </for>
                </div><!--carousel slide-->

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div> <!--col-md-8  -->
    </div><!--row  -->

    <if condition="$proList != null">
        <div class="row">
            <div class="page-header">
                <h1 class="h2">推荐&nbsp;&nbsp;
                    <small><a href="#">更多>></a></small>
                </h1>
            </div>
        </div>

        <div class="row">
            <foreach name="proList" item="vo">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="<{:U('Home/Details/index',['b_id' => $vo['b_id']])}>">
                            <img width="156" height="206" data-src="holder.js/300x300" alt="..."  src="__ROOT__/Uploads/<if condition="$vo['b_img'] == null">img/book.jpg<else/><{$vo['b_img']}></if>">
                        </a>
                        <div class="caption">
                            <a href="<{:U('Home/Details/index',['b_id' => $vo['b_id']])}>">
                                <h3 class="h3"><{$vo['b_name']}></h3>
                            </a>
                            <p><{$vo['b_author']}></p>
                            <p>
                                <a href="#" class="btn btn-primary btn-sm" role="button">Button</a>
                                <a href="#" class="btn btn-default btn-sm" role="button">Button</a></p>
                        </div>
                    </div>
                 </div>
            </foreach>
        </div><!--row  -->
    </if>

    <if condition="newBooks != null">
        <div class="row">
            <div class="page-header">
                <div class="col-md-1"></div>
                <h1 class="h2">新上架&nbsp;&nbsp;
                    <small><a href="#">更多>></a></small>
                </h1>
            </div>
        </div>

        <for start="0" end="count($newBooks)">
            <if condition="$i % 5 == 0">
                <div class="row">
                    <div class="col-md-1"></div>
            </if>

            <div class="col-md-2">
                <div class="thumbnail" style="border: none">
                    <a href="<{:U('Home/Details/index',['b_id' => $newBooks[$i]['b_id']])}>">
                        <img width="150" alt="..." lay-src="__ROOT__/Uploads/<if condition="$newBooks[$i]['b_img'] == null">img/book.jpg<else/><{$newBooks[$i]['b_img']}></if>">
                    </a>
                    <p style="text-align: center" class="h4">
                        <a href="<{:U('Home/Details/index',['b_id' => $newBooks[$i]['b_id']])}>"><{$newBooks[$i]['b_name']}></a>
                    </p>
                </div>
            </div>

            <if condition="($i + 1) % 5 == 0 || ($i + 1) == count($newBooks)">
                <div class="col-md-1"></div>
                </div>
            </if>
        </for>
        <!--<div class="row">

            <div class="col-md-3">
                <div class="thumbnail" style="border: none">
                    <a href="#" >
                        <img width="150" data-src="holder.js/171x180" alt="..." src="__ROOT__/Uploads/img/book.jpg">
                    </a>
                    <p style="text-align: center" class="h4">111</p>
                </div>
            </div>

            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/171x180" alt="...">
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/171x180" alt="...">
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img data-src="holder.js/171x180" alt="...">
                </a>
            </div>

        </div>&lt;!&ndash;row  &ndash;&gt;-->
    </if>

    <!--<div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

    </div>&lt;!&ndash;row  &ndash;&gt;

    <div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

    </div>&lt;!&ndash;row  &ndash;&gt;
-->
    <div class="row">
        <div class="page-header">
            <h1 class="h2">热门&nbsp;&nbsp;
                <small><a href="#">更多>></a></small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="thumbnail">
                <img data-src="holder.js/171x180" alt="...">
            </a>
        </div>

    </div><!--row  -->

    </div> <!--container  -->

    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script>
        // 图片流加载
        layui.use('flow', function(){
            var flow = layui.flow;
            //当你执行这样一个方法时，即对页面中的全部带有lay-src的img元素开启了懒加载（当然你也可以指定相关img）
            flow.lazyimg();
        });
    </script>
</block>
