<extend name="Public/layout"/>
<block name="content">


<div class="container">
  <div class="page-header">
	  <h1>标题 <small>Subtext for header</small></h1>
	</div>		 
	  <div class="row-fluid">
	    <div class="span2">
	  
	    </div>
	    
	    	<div class="col-sm-8">
	    	<div class="col-sm-4">
	       <a href=""><img src="/Uploads/bookimg2016-11-15/150.jpg" alt=""  class="img-rounded" width="150" height="200" /></a>
	       </div>
	       <div>
					<ol>
						<li >作者： &nbsp;著</li>
						<li >&nbsp;</li>
						<li class="text-success">类别：<button class="layui-btn layui-btn-primary layui-btn-radius">玄幻</button><button class="layui-btn layui-btn-primary layui-btn-radius">王朝争霸</button></li>
						<li >&nbsp;</li>
						<li class="text-primary">最后更新时间：</li>
						<li >&nbsp;</li>
						<li class="text-danger">阅读人数：</li>
						<li >&nbsp;</li>
						<li class="text-muted">
							共：xxx章							
						</li>
						<li >&nbsp;</li>
					</ol>
						<button class="layui-btn layui-btn-danger layui-btn-big">开始阅读</button>
						<button class="layui-btn layui-btn-primary layui-btn-big">收藏</button>
				</div>
			</div>
	  
	    <div class="hr hr-double hr-dotted hr18"></div>
			<!-- 目录区 -->
			<div class="row">
				<div class="col-sm-12">
					<h3 class="row header smaller lighter blue">
						<span class="col-xs-12"> 目录</span><!-- /span -->
						
					</h3>
					<div id="accordion" class="accordion-style1 panel-group">
					<!-- 目录模块 -->
						
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<i class="icon-angle-right bigger-110" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
											展开/收起
										</a>
									</h4>
								</div>

								<div class="panel-collapse collapse" id="collapseTwo">
									<div class="panel-body">
										<button class="btn btn-default">第一章</button>
									</div>
								</div>
							</div><!-- 目录模块结束 -->
							

						</div>

					</div>
				</div><!-- 目录结束 -->
			<fieldset class="layui-elem-field">
			  <legend>评论区</legend>
			  <div class="layui-field-box">
			    内容区域
			  </div>
			</fieldset>

			<div>
			<form action="" method="post">
			<input type="hidden" name="" value="">
			<textarea name="con_content" id="demo" ></textarea><br>	
			<input type="submit" value="提交" class="btn btn-danger"><span id="sp"></span>
			</form>
			</div>
			 
				
		</div>
	<script src="__PUBLIC__/layui/layui.js"></script>
	<script>
		layui.use('layedit', function(){
		  var layedit = layui.layedit;
		  layedit.build('demo'); //建立编辑器
		});
</script>
</block>