<extend name="Public/layout"/>
<block name="content">

    <div class="container">
        <div class="page-header">
            <h3 class="h3"><{$data['b_name']}></h3>
        </div>
        <div class="row-fluid">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <img src="__ROOT__/Uploads/<if condition=" $data['b_img'] == null">img/book.jpg<else/><{$data['b_img']}></if>" alt="" class="img-rounded" width="150"height="200"/>
                </div>
                <div class="col-sm-4">
                    <ol>
                        <li>作者： &nbsp;<a href="<{:U('Authorinfo/index',array('u_id'=>$data['b_uid']))}>"><{$data['b_author']}></a>
                            &nbsp;著
                        </li>
                        <li>&nbsp;</li>
                        <li class="text-success">类别：
                            <span class="layui-btn layui-btn-primary layui-btn-radius"><{$data['t_pname']}></span>
                            <button class="layui-btn layui-btn-primary layui-btn-radius"><{$data['t_name']}></button>
                        </li>
                        <li>&nbsp;</li>
                        <li class="text-primary">最后更新时间：<{$data['lastTime']}></li>
                        <li>&nbsp;</li>
                        <li class="text-danger">阅读次数：<{$data['b_click']}></li>
                        <li>&nbsp;</li>
                        <li class="text-muted">
                            共：<{$data['cataCount']}>章
                        </li>
                        <li>&nbsp;</li>
                    </ol>

                    <a href="<{:U('Home/History/read',['b_id'=>$data['b_id']])}>"
                       class="layui-btn layui-btn-danger layui-btn-big">开始阅读</a>
                    <if condition="($status eq 1)">
                        <button class="layui-btn layui-btn-primary layui-btn-big" onclick="test()" id="col">已收藏</button>
                        <else/>
                        <button class="layui-btn layui-btn-primary layui-btn-big" onclick="test()" id="col">收藏</button>
                    </if>
                </div>
                <div class="col-sm-4">简介：<p><{$data['b_introduce']}></p></div>
            </div>

            <div class="hr hr-double hr-dotted hr18"></div>
            <!-- 目录区 -->
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="row header smaller lighter blue">
                        <span class="col-xs-12 h3"> 目录</span><!-- /span -->
                    </h3>
                    <div id="accordion" class="accordion-style1 panel-group">
                        <!-- 目录模块 -->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo">
                                        <i class="icon-angle-right bigger-110" data-icon-hide="icon-angle-down"
                                           data-icon-show="icon-angle-right"></i>
                                        展开/收起
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseTwo">
                                <div class="panel-body">
                                    <if condition="$catalog != null">
                                        <foreach name="catalog" item="vo">
                                            <a href="<{:U('Home/Read/index',['cata_id' => $vo['cata_id']])}>"
                                               class="btn btn-default" style="margin-top: 3px;margin-left: 1px;"><{$vo['cata_name']}></a>
                                        </foreach>
                                        <else/>
                                        <button class="btn btn-default" style="margin-top: 3px">暂无任何章节</button>
                                    </if>
                                </div>
                            </div>
                        </div><!-- 目录模块结束 -->
                    </div>
                </div>
            </div><!-- 目录结束 -->
            <fieldset class="layui-elem-field">
                <a name="comment"></a>
                <legend>评论区</legend>
                <div class="layui-field-box">
                    <if condition="$comment != null">
                        <foreach name="comment" item="vo">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <img width="40px" src="__ROOT__/Uploads/<if condition=" $vo['det_img'] == null">Portrait/profile-pic.jpg<else/><{$vo['det_img']}> </if>" class="img-circle" alt="头像">
                                    <b><{$vo['det_name']}></b>
                                    <{$vo['com_time']|date="Y-m-d H:i",###}>
                                </div>
                                <div class="panel-body">
                                    <{$vo['com_content']}>
                                </div>
                            </div>
                        </foreach>
                        <{$page}>
                    <else/>
                        <div class="h4">该书目前还没有任何评论</div>
                    </if>
                </div>
            </fieldset>

            <div class="sp-10"></div>
            <div>
                <legend>评论该书</legend>
                <form action="<{:U('Home/Comment/insert')}>" class="layui-form" method="post">
                    <input type="hidden" name="com_bid" value="<{$data['b_id']}>">
                    <textarea name="com_content" id="demo" lay-verify="required"></textarea>
                    <div class="sp-10"></div>
                    <input type="submit" value="提交" class="btn btn-danger"><span id="sp"></span>
                </form>
            </div>
            <div class="sp-10"></div>
        </div>
    </div>

    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script>
        layui.use('layedit', function () {
            var layedit = layui.layedit;
            input = layedit.build('demo',
                    {
                        height: 180,
                        tool: [
                            'strong' //加粗
                            , 'italic' //斜体
                            , 'underline' //下划线
                            , 'del' //删除线
                            , '|' //分割线
                            , 'link' //超链接
                            , 'unlink' //清除链接
                            , 'face' //表情
                        ]
                    }
            ); //建立编辑器
        });

        function test() {
            $.ajax({
                type: "get",
                url: "<{:U('Bookcase/coladd',['b_id' => $data['b_id']])}>",
                dataType: 'json',
                success: function (data) {
                    if (data == 1) {
                        col.innerHTML = "已收藏";
                    } else {
                        layui.use('layer', function () {
                            layer.msg('请先登录');
                        })
                    }
                }
            })
        }
    </script>
</block>