<extend name="Center/public"/>
<block name="content">
	<div class="container">
        <div class="page-header">
            <h3 class="h3">收藏书架
                <small>&nbsp;</small>
            </h3>
        </div>
        <div class="row ">

        <foreach name="data" item="v">
		  <div class="col-sm-3 col-md-3">
		    <div class="thumbnail">
		   <div onclick="test('<{$v.b_id}>')" ><i class="glyphicon glyphicon-remove data-type="confirmTrans""></i> </div>
		      <a href=""><img data-src="holder.js/125x165" src="__ROOT__/Uploads/<{$v['b_img']}>" alt="..."></a>
		      <div class="caption">
		      <p><a href=""><{$v.b_name}></a></p><small><p>作者:<{$v.b_author}></p></small>		     
		      	<p>收藏时间:<{:date('Y-m-d H:i:s',$v['col_time'])}></p>      
		      </div>
		    </div>
		  </div>		  		  
		</foreach>
		</div>
    </div>
    <script src="__PUBLIC__/layui/layui.js"></script>
   <script src="__PUBLIC__/js/jquery.min.js"></script> 
    <script>
    	function test(obj)
    	{	
    		var a = confirm('确定删除吗');
			if(a){
				$.ajax({
					type:'get',
					url:'<{:U("coldel",'','')}>/b_id/'+obj,
					dataType:'json',
					success:function(data){
						console.log(data);
						if(data == 1){
							alert('删除成功');
							location.reload();
						}else{
							alert('删除失败');
						}
					}
				}) 
			}else{
				
			}
    	} 	
    </script>  
</block>