<extend name="Public/layout" />
<block name="content">
	<style>#head{display: none;}</style>
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<div>
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">Home</a>
			</li>

			<li>
				<a href="#">轮播图编辑页</a>
				
			</li>
			<!-- <li class="active">Invoice</li> -->
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-md-8"><div class="col-md-offset-4"><img src="<{$data.p_pic}>" alt="" width="400"></div></div>
		</div>
		<div class="row" style="margin-top:50px;">
			<div class="col-md-offset-2">
				<!-- PAGE CONTENT BEGINS -->
					<div style="margin-left:80px;margin-bottom:20px">
						<input type="file" name="file" class="layui-upload-file" >
					</div>

					<form class="layui-form" action="<{:U('Carousel/update')}>" method="post">
					  <div class="layui-form-item">
					    <!-- <label class="layui-form-label">pic路径</label> -->
					    <!-- <div class="layui-input-inline"> -->
					      <input type="hidden" name="p_pic" value="<{$data.p_pic}>" autocomplete="off" class="layui-input" id="box" >
					      <input type="hidden" value="<{$data.p_id}>" name="id">
					    <!-- </div> --> 
					  </div>
					  <div class="layui-form-item">
					    <label class="layui-form-label">链接书</label>
					    <div class="layui-input-inline">
					      <select id="firstselect" lay-filter="fir">
					        <option value="">请选择主分类</option>
					        <volist name="ftype" id="v">
					        	<if condition="$li[0]['t_pid'] eq $v['t_id']">
					        	<option value="<{$v.t_id}>" selected><{$v.t_name}></option>
					        	<else />
					        	<option value="<{$v.t_id}>" ><{$v.t_name}></option>
					        	</if>
					        </volist>
					      </select>
					    </div>
					    
					    <div class="layui-input-inline">
					      <select id="secondselect" lay-filter="sec">
					        <option value="">请选择分类</option>
					      </select>
					    </div>
					    <div class="layui-input-inline">
					      <select name="p_link" id="thirdselect" lay-filter="thr">
					        <option value="">请选择书本</option>
					      </select>
					    </div>
					  </div>
					  <div class="layui-form-item">
					    <div class="layui-input-block">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
					    </div>
					  </div>
					</form>
					
					<script src="__PUBLIC__/js/jquery.min.js"></script>
					<script src="__PUBLIC__/layui/layui.js"></script>
					<script>
					
					//Demo
					layui.use('form', function(){
					  var form = layui.form();
					  
					  //监听提交
					  // form.on('submit(formDemo)', function(data){
					  //   layer.msg(JSON.stringify(data.field));
					  //   return false;
					  // });

					  //多表联查第二级
						form.on('select(fir)', function(data){
							//将二级菜单重置
							// var stype = Array();
							secondselect.length = 1;
							thirdselect.length = 1;
							//ajax查出对应的数组
						    $.ajax({
						        url:"<{:U('Carousel/selectf')}>",
						        data: "val="+data.value,
						        type:'POST',
						        success:function(res){
									for(var i=0;i<res.length;i++){
										var option = document.createElement('option');
										option.innerHTML = res[i]['t_name'];
										option.value = res[i]['t_id'];
										// console.log(option);
										var secondselect = document.getElementById('secondselect');
										// console.log(secondselect);
										secondselect.appendChild(option);
										form.render('select'); //刷新select选择框渲染
									}
						        }
							});			
						}); 


						//多表联查第三级
						form.on('select(sec)', function(data){
							//将三级菜单重置
							thirdselect.length = 1;
							//ajax查出对应的数组
						    $.ajax({
						        url:"<{:U('Carousel/selects')}>",
						        data: "val="+data.value,
						        type:'POST',
						        success:function(res){
									for(var i=0;i<res.length;i++){
										var option = document.createElement('option');
										option.innerHTML = res[i]['b_name'];
										option.value = res[i]['b_id'];
										// option.name= "p_link";
										var thirdselect = document.getElementById('thirdselect');
										// console.log(thirdselect);
										thirdselect.appendChild(option);
										form.render('select'); 
										//刷新select选择框渲染
									}
						        }
							});			
						}); 


					});

					//图片上传
					layui.use('upload', function(){
					  layui.upload({
					  	title: '修改图片',
					  	method:'post',
						url: "<{:U('Carousel/picupload')}>",
						success: function(res){
							// console.log(res);
						    $('#box').attr('value',res['big']);
						    $('img').attr('src',res['small']);    
						  }
						}); 
					});
					   
					//地址联动的第三级菜单插入
					var list = <{$list}>; 
					console.log(list[0]['b_name']);
					var option = document.createElement('option');
					option.innerHTML = list[0]['b_name'];
					option.value = list[0]['b_id'];
					option.selected = true;
					var thirdselect = document.getElementById('thirdselect');
					thirdselect.appendChild(option);
					//form.render('select'); //刷新select选择框渲染  

					//地址联动的第二级菜单插入
					var lis = <{$lis}>; 
					console.log(lis[0]['b_name']);
					var option = document.createElement('option');
					option.innerHTML = lis[0]['t_name'];
					option.value = lis[0]['t_id'];
					option.selected = true;
					var secondselect = document.getElementById('secondselect');
					secondselect.appendChild(option);
					//form.render('select'); //刷新select选择框渲染  
					</script>
				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
			
		</div><!-- /.row -->
		<div style="height:150px;"></div>
	</div><!-- /.page-content -->
</div><!-- /.main-content -->
</block>