<extend name="Public/layout"/>
<block name="content">

		<div class="main-container" id="main-container">

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="main-content" style="margin-left: 0px">
					<div class="breadcrumbs" id="breadcrumbs">

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="<{:U('Admin/Conventional/index')}>">主页</a>
							</li>

							<li class="active">个人信息</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								我的个人信息
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div>
									<div id="user-profile-1" class="user-profile row">
										<div class="col-xs-12 col-sm-3 center">
											<div>
												<span class="profile-picture">
													<img id="avatar" class="editable img-responsive" alt="头像" src="__ROOT__/Uploads/<if condition="$data['img'] == null">Portrait/profile-pic.jpg<else /><{$data['img']}></if>" />
                                                    <div class="space-4"></div>
                                                    <div class="site-demo-upload">
                                                        <div class="site-demo-upbar">
                                                            <input type="file" name="file" class="layui-upload-file" lay-title="修改头像">
                                                        </div>
                                                    </div>
												</span>

												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
                                                        <span class="white"><{$data['username']}></span>
													</div>
												</div>
											</div>

											<div class="space-6"></div>

											<div class="hr hr12 dotted"></div>

										</div>

										<div class="col-xs-12 col-sm-9">

											<div class="space-12"></div>
                                                <div class="profile-user-info profile-user-info-striped">
                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> 姓名 </div>

                                                        <div class="profile-info-value">
                                                            <span class="editable" id="name"><{$data['name']}></span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> 性别 </div>

                                                        <div class="profile-info-value">
                                                            <input type="hidden" name="sex_value" value="<{$data['sex']}>">
                                                            <span class="editable" id="sex">
                                                                <if condition="($data['sex'] eq 0) ">女
                                                                    <elseif condition="($data['sex'] eq 1)"/>男
                                                                    <else /> 保密
                                                                </if>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> 电话 </div>

                                                        <div class="profile-info-value">
                                                            <span class="editable" id="tel"><{$data['tel']}></span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> 邮箱 </div>

                                                        <div class="profile-info-value">
                                                            <span class="editable" id="email"><{$data['email']}></span>
                                                        </div>
                                                    </div>

                                                    <div class="profile-info-row">
                                                        <div class="profile-info-name"> 简介 </div>

                                                        <div class="profile-info-value">
                                                            <span class="editable" id="introduce"><{$data['introduce']}></span>
                                                        </div>
                                                    </div>
                                                </div>


                                            <div class="space-10"></div>

                                            <div style="margin-left: 10px">
                                                <a href="<{:U('Admin/User/edit', ['u_id' => session('id')])}>" class="btn btn-app btn-primary btn-xs radius-4" >
                                                    <i class="icon-edit bigger-160"></i>
                                                    编辑
                                                </a>
                                            </div>

										</div>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->
		</div><!-- /.main-container -->

    <!--[if !IE]> -->
    <script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-2.0.3.min.js'>"+"</"+"script>");
    </script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-1.10.2.min.js'>"+"</"+"script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='__PUBLIC__/ace/assets/js/jquery.mobile.custom.min.js'>"+"</"+"script>");
    </script>

    <!--引入layui-->
    <script src="__PUBLIC__/layui/layui.js"></script>

    <script>

        $(document).ready(function(){

            // 上传文件
            layui.use('upload', function(){
                layui.upload({
                    url: "<{:U('Admin/User/updatePortrait',array('det_id' => $data['id']))}>" //上传接口
                    ,method: 'post',
                    data:1
                    ,before: function(input){
                        //返回的参数item，即为当前的input DOM对象
                        layer.msg('文件上传中.....', {
                            icon: 16
                            ,shade: 0.01,
                            time:0,
                        });
                    }
                    ,success: function(res){ //上传成功后的回调
                        layer.closeAll();
                        $('#avatar').attr('src','/Uploads/' + res.url);
                    }
                });
            });

        });

    </script>

</block>
