<extend name="Center/public"/>
<block name="content">
    <div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>编辑信息&nbsp;<a href="<{:U('Home/Center/info')}>" class="btn btn-info glyphicon glyphicon-chevron-left" style="margin-bottom: 4px;" title="返回"></a></legend>
            <div class="row my-info-content">
                <div class="col-md-6 col-sm-8" style="margin-left: 10px">
                    <form action="<{:U('Home/Center/update')}>" method="post" class="layui-form">
                        <input type="hidden" name="det_id" value="<{$data['det_id']}>">
                        <table class="myInfo" cellpadding="3px" cellspacing="0">
                            <tr>
                                <td>姓名</td>
                                <td>
                                    <input type="text" name="det_name" placeholder="请输入姓名" lay-verify="required" autocomplete="off" class="layui-input" value="<{$data['det_name']}>">
                                </td>
                            </tr>
                            <tr>
                                <td>性别</td>
                                <td>
                                    <input type="radio" name="det_sex" title="男" <if condition="$data['det_sex'] eq 1">checked</if> value="1">
                                    <input type="radio" name="det_sex" title="女" <if condition="$data['det_sex'] eq 0">checked</if> value="0">
                                    <input type="radio" name="det_sex" title="保密" <if condition="$data['det_sex'] eq 2">checked</if> value="2">
                                </td>
                            </tr>
                            <tr>
                                <td>简介</td>
                                <td>

                                    <textarea name="det_introduce" placeholder="请输入" class="layui-textarea"><{$data['det_introduce']}></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </fieldset>
    </div>


    <!--[if !IE]> -->
    <script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-2.0.3.min.js'>"+"</"+"script>");
    </script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-1.10.2.min.js'>"+"</"+"script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='__PUBLIC__/ace/assets/js/jquery.mobile.custom.min.js'>"+"</"+"script>");
    </script>

    <!--引入layui-->
    <script src="__PUBLIC__/layui/layui.js"></script>

    <script>
        layui.use('form', function(){
            var form = layui.form();

        });
    </script>
</block>