<extend name="Public/layout"/>
<block name="content">

<div class="container">
    <div class="center">
        <div class="row">
            <div class="col-md-2 my-nav">
                <div class="sp-10"></div>
                <div class="row">
                    <!--用户头像-->
                    <img id="nowImg" class="col-md-8 col-md-offset-2 img-circle" onclick="changeImg()" src="__ROOT__/Uploads/<if condition="$img == null">Portrait/profile-pic.jpg<else /><{$img}></if>" alt="头像" title="点击修改头像">
                </div>
                <div class="sp-10"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p style="text-align: center"><{:session('home_name')}></p><!--用户名-->
                    </div>
                </div>
                <div class="sp-10"></div>
                <div class="sp-10"></div>
                <div width="100%">
                    <ul class="layui-nav layui-nav-tree">
                        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                        <!--<li class="layui-nav-item layui-nav-itemed">-->
                        <li class="layui-nav-item">
                            <a href="javascript:;">我的图书</a>
                            <dl class="layui-nav-child">
                                <dd><a href="<{:U('Home/Bookcase/index')}>" target="main">我的收藏</a></dd>
                                <dd><a href="<{:U('Home/History/index')}>" target="main">浏览历史</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">我的账号</a>
                            <dl class="layui-nav-child">
                                <dd><a href="<{:U('Home/Center/info')}>" target="main">个人信息</a></dd>
                                <dd><a href="">修改密码</a></dd>
                                <dd><a href="<{:U('Home/Author/index')}>" target="main">成为作者</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">作者中心</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">我的作品</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-10">
                <iframe src="<{:U('Home/Center/show')}>" frameborder="0" scrolling="no" id="ifrm" name="main" width="100%" onLoad="setIframeHeight(this.id)">
                </iframe>
                <!--<img src="__ROOT__/Uploads/img/look.jpg" alt="">-->
            </div>
        </div>
    </div>
</div>

    <!--[if !IE]> -->
    <script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-2.0.3.min.js'>"+"</"+"script>");
    </script>
    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-1.10.2.min.js'>"+"</"+"script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='__PUBLIC__/ace/assets/js/jquery.mobile.custom.min.js'>"+"</"+"script>");
    </script>

    <!--引入layui-->
    <script src="__PUBLIC__/layui/layui.js"></script>

    <script>
        layui.use('element', function() {
            var element = layui.element();
        });

        function setIframeHeight(id) {
            var ifrm = document.getElementById(id);
            var doc = ifrm.contentDocument? ifrm.contentDocument:
                    ifrm.contentWindow.document;
            ifrm.style.visibility = 'hidden';
            ifrm.style.height = "10px"; // reset to minimal height ...
            ifrm.style.height = getDocHeight( doc ) + 4 + "px";
            ifrm.style.visibility = 'visible';
        }

        function getDocHeight(doc) {
            doc = doc || document;
            var body = doc.body, html = doc.documentElement;
            var height = Math.max( body.scrollHeight, body.offsetHeight,
                    html.clientHeight, html.scrollHeight, html.offsetHeight );
            return height;
        }

        // 点击头像弹出上传头像的窗口
        function changeImg(){
            layui.use('layer', function(){
                var layer = layui.layer;

                // 弹出窗口
                layer.open({
                    closeBtn:0,
                    btn: ['确认', '取消'], //可以无限个按钮
                    yes: function(){

                        var url = $('#img').attr('val');
                        if(url == undefined) {
                            layer.closeAll();
                        } else {
                            // 点击确认按钮 传地址到服务器
                            $.post('<{:U("Home/Center/insertPortrait")}>',{'url':url},function (data){
                                console.log(data);
                                console.log(typeof(data));
                                if(data.code == 0) {
                                    layer.closeAll();
                                    layer.msg(data.msg, {icon: 6});
                                    //setTimeout('location.reload()',2000);
                                    $('#nowImg').attr('src','__ROOT__/Uploads/' + url);
                                } else {
                                    layer.closeAll();
                                    layer.msg(data.msg, {icon: 5});
                                }
                            });
                        }
                    },
                    btn2: function(){
                        //按钮【按钮二】的回调
                        //console.log(1);
                        var url = $('#img').attr('val');
                        if(url != undefined) {
                            // 若点击取消按钮，则删除刚刚上传的图片
                            $.post('<{:U("Home/Center/delImg")}>',{'url':url});
                            console.log(1);
                        }
                    },
                    type: 1,
                    title:'修改头像',
                    content: '<img id="img" width="200" class="col-md-8 col-md-offset-2 img-circle" src="__ROOT__/Uploads/<if condition="$img == null">Portrait/profile-pic.jpg<else /><{$img}></if>" alt="头像"><div align="center" style="padding-top: 5px"><input style="margin: 0 auto" type="file" name="file" class="layui-upload-file" lay-title="修改头像"></div>',
                });
            });

            $('#img').attr('src',$('#nowImg').attr('src'));

            // 上传文件
            layui.use('upload', function(){
                layui.upload({
                    url: "<{:U('Home/Center/uploadPortrait')}>" //上传接口
                    ,method: 'post',
                    data:1
                    ,before: function(input){
                        load = layer.msg('文件上传中.....', {
                            icon: 16
                            ,shade: 0.01,
                            time:0,
                        });
                    }
                    ,success: function(res){ //上传成功后的回调
                        layer.close(load);
                        $('#img').attr('src','/Uploads/' + res.url);
                        $('#img').attr('val',res.url);
                        $('#img').val(res.url);
                    }
                });
            });
        }
    </script>

<div style="height: 20px"></div>
</block>