<extend name="Center/public"/>
<block name="content">
    <div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>个人信息&nbsp;<a href="<{:U('Home/Center/edit')}>" class="btn btn-info glyphicon glyphicon-pencil"
                                 style="margin-bottom: 4px;" title="编辑"></a></legend>
            <div class="row my-info-content">
                <div class="col-md-6 col-sm-8" style="margin-left: 10px">
                    <table class="myInfo" cellpadding="3px" cellspacing="0">
                        <tr>
                            <td>姓名</td>
                            <td><{$data['det_name']}></td>
                        </tr>
                        <tr>
                            <td>性别</td>
                            <td>
                                <if condition="$data['det_sex'] eq 0"> 女
                                    <elseif condition="$data['det_sex'] eq 1"/>
                                    男
                                    <else/>
                                    保密
                                </if>
                            </td>
                        </tr>
                        <tr>
                            <td>注册时间</td>
                            <td><{$data['regTime']}></td>
                        </tr>
                        <tr>
                            <td>简介</td>
                            <td>
                                <{$data['det_introduce']}>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="sp-10"></div>
            <div class="row  my-info-content">
                <div class="col-md-6 col-sm-8" style="margin-left: 10px">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>账号安全相关</legend>
                        <div class="layui-field-box">
                            <table class="myInfo" cellpadding="3px" cellspacing="0">
                                <tr>
                                    <td>手机号</td>
                                    <td>
                                        <{$data['det_tel']}>
                                        <button class="layui-btn layui-btn-mini layui-btn-disabled">
                                            <if condition="$data['det_tel'] eq null ">未验证
                                                <else/>
                                                已验证
                                            </if>
                                        </button>

                                        <button class="layui-btn layui-btn-mini layui-btn-normal" id="teledit">修改</button>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>邮箱</td>
                                    <td>
                                        <{$data['det_email']}>
                                        <button class="layui-btn layui-btn-mini layui-btn-disabled">
                                            <if condition="$data['det_email'] eq null ">未验证
                                                <else/>
                                                已验证
                                            </if>
                                        </button>
                                        <button class="layui-btn layui-btn-mini layui-btn-normal"
                                                onclick="changeEmail()">修改
                                        </button>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>
<!-- 手机 -->
<div class="col-md-offset-4" id="teldiv" style="display:none;">
<div class="layui-tab-item layui-show teldiv" style="width:480px;height:240px;  position: fixed;z-index: 5;opacity: 0.9;top: 150px;left: 350px;border:1px solid #ccc;">
    <div class="row"><span class="glyphicon glyphicon-remove" id="telClose" style="margin-left:460px;"></span></div>
     <div class="row" style="margin-top:20px;">
        <div class="col-md-10 col-md-offset-2">
            <form action="<{:U('Home/Center/update')}>" method="post"
                  class="layui-form layui-form-pane" onsubmit="return judge()">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="det_id" value="<{$data['det_id']}>">
                        <input name="det_tel" lay-verify="phone" placeholder="请输入手机号码"
                               autocomplete="off" class="layui-input" type="text" id="username" value="<{$data['det_tel']}>">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input name="phonecode" lay-verify="required" placeholder="请输入验证码"
                               autocomplete="off" class="layui-input" type="text" id="phonecode">
                    </div>
                    <div class="code"><button class="btn btn-success" id="sendMessage">发送验证码</button></div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-big" lay-submit lay-filter="*">修改
                        </button>
                    </div>
                </div>

                <style>
                    .layui-form-pane .layui-form-label {
                        width: 100px;
                    }

                    .code img {
                        height: 37px;
                        border: 1px solid #E6E6E6;
                    }
                </style>
            </form>
        </div>
    </div>                           
</div>
</div>


    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <!--引入layui-->
    <script src="__PUBLIC__/layui/layui.js"></script>

    <script>
    var vCode = 0;
    var m = 60;
    var timer = null;
    var v = null;
        function changeEmail() {
            layui.use('layer', function () {
                var layer = layui.layer;

                // 弹出窗口
                layer.open({
                    closeBtn: 0,
                    btn: ['确认', '取消'], //可以无限个按钮
                    yes: function () {
                        var email = $('#emailInput').val();
                        if (!email.match(/^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/)) {
                            layer.msg('邮箱格式不正确');
                            return;
                        }
                        var load = layer.load();
                        $.post('<{:U("Home/Center/changeEmail")}>', {'email': email}, function (data) {
                            if (data.code == 1) {
                                layer.close(load);
                                layer.msg(data.msg);
                            } else {
                                layer.close(load);
                                layer.msg(data.msg);
                                setTimeout('layer.closeAll()', 2000);
                            }
                        });
                    },
                    type: 1,
                    title: '修改邮箱',
                    content: '<div class="col-md-10 col-md-offset-1">' +
                    '<div class="sp-10"></div>' +
                    '<div class="form-group" >' +
                    '<div class="input-group">' +
                    '<div class="input-group-addon">邮箱</div>' +
                    '<input class="form-control" type="email" placeholder="请输入邮箱" value="<{$data['det_email']}>" id="emailInput"></div>' +
                    '</div>' +
                    '</div>',
                });
            });
        }

        $('#telClose').click(function() {
             $('#teldiv').css('display', 'none');
        });
        $('#teledit').click(function() {
             $('#teldiv').css('display', 'block');
        });

        //手机号码ajax验证
        $('#sendMessage').click(function () {
            $.ajax({
                url: "<{:U('Center/sendSms')}>",
                data: "val=" + $('#username').val(),
                type: 'POST',
                success: function (data) {
                    if(data == 'err'){
                         layer.tips('手机号不正确!', '#username', {tips: [1, '#0FA6D8']});
                    }else{
                        v = data;
                        console.log(data); 
                        $('#sendMessage').attr('disabled','disabled');
                        $('#sendMessage').html('60秒后重新发送');
                        timer = setInterval(demo,1000);
                    }
                }
            })
        }) 

        //定时函数
        function demo(){
            if(m<0){
                clearInterval(timer);
                $('#sendMessage').removeAttr('disabled');
                $('#sendMessage').html('发送验证码');
                return;
            }

            $('#sendMessage').html(m+'秒后重新发送');
            m --;    
            
        }   

        //判断验证码是否一致
        $('#phonecode').blur(function () {
            if(v == $('#phonecode').val()){
                vCode = 1;
                layer.tips('恭喜，验证码正确', '#phonecode');
            }else{
                vCode = 0;
            }
        })
        //提交前判断是否验证正确
        function judge() {
            if (vCode == 1) {
                return true
            }
            return false;
        }
    </script>
</block>
