<extend name="Public/layout"/>
<block name="content">
    <style>
        .reg {
            margin: 50px 320px;
        }

        .inputs {
            width: 280px;
        }

        .floatinputs {
            width: 140px;
            float: left;
        }

        img {
            width: 140px;
            height: 32px;
            float: left;
        }
    </style>
    <div class="container">
        <h2 class="text-center h2">终点中文网
            <small>&nbsp;&nbsp;&nbsp;&nbsp;注册加入我们</small>
        </h2>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="layui-tab layui-tab-card">
                    <ul class="layui-tab-title">
                        <li class="layui-this">手机号注册</li>
                        <li>邮箱注册</li>
                    </ul>
                    <div class="layui-tab-content" style="height: 100px;">
                        <!-- 手机 -->
                        <div class="layui-tab-item layui-show">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <form action="<{:U('Home/Reg/reg')}>" method="post"
                                          class="layui-form layui-form-pane" onsubmit="return judged()">

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">账号</label>
                                            <div class="layui-input-inline">
                                                <input name="u_username" placeholder="请输入登录号码" autocomplete="off"
                                                       class="layui-input" type="text" id="account">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">手机号</label>
                                            <div class="layui-input-inline">
                                                <input name="u_tel" lay-verify="phone" placeholder="请输入手机号码"
                                                       autocomplete="off" class="layui-input" type="text" id="username">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">密码</label>
                                            <div class="layui-input-inline">
                                                <input name="u_password" lay-verify="pass" placeholder="请输入密码"
                                                       autocomplete="off" class="layui-input" type="password"
                                                       id="passwd1">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">确认密码</label>
                                            <div class="layui-input-inline">
                                                <input name="u_password2" lay-verify="pass" placeholder="请确认密码"
                                                       autocomplete="off" class="layui-input" type="password"
                                                       id="passwd2">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">验证码</label>
                                            <div class="layui-input-inline">
                                                <input name="phonecode" lay-verify="required" placeholder="请输入验证码"
                                                       autocomplete="off" class="layui-input" type="text"
                                                       id="phonecode">
                                            </div>
                                            <div class="code">
                                                <button class="btn btn-success" id="sendMessage">发送验证码</button>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn layui-btn-big" lay-submit lay-filter="*">立即注册
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- 邮箱 -->
                        <div class="layui-tab-item">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <form action="<{:U('Home/Reg/emailReg')}>" method="post"
                                          class="layui-form layui-form-pane" onsubmit="return judge()">

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">账号</label>
                                            <div class="layui-input-inline">
                                                <input name="u_username" placeholder="请输入登录号码" autocomplete="off"
                                                       class="layui-input" type="text" id="username1">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">邮箱</label>
                                            <div class="layui-input-inline">
                                                <input name="email" lay-verify="email" placeholder="请输入邮箱"
                                                       autocomplete="off" class="layui-input" type="text"
                                                       >
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">密码</label>
                                            <div class="layui-input-inline">
                                                <input name="u_password" lay-verify="pass" placeholder="请输入密码"
                                                       autocomplete="off" class="layui-input" type="password" id="pwd1">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">确认密码</label>
                                            <div class="layui-input-inline">
                                                <input name="u_password2" lay-verify="pass" placeholder="请确认密码"
                                                       autocomplete="off" class="layui-input" type="password" id="pwd2">
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">验证码</label>
                                            <div class="layui-input-inline">
                                                <input name="code" lay-verify="required" placeholder="请输入验证码"
                                                       autocomplete="off" class="layui-input" type="text" id="code">
                                            </div>
                                            <div class="code"><img src="<{:U('Reg/code')}>" alt="" id="codepic"></div>
                                        </div>

                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <button class="layui-btn layui-btn-big" lay-submit lay-filter="*">立即注册
                                                </button>
                                            </div>
                                        </div>

                                        <style>
                                            .layui-form-pane .layui-form-label {
                                                width: 100px;
                                            }

                                            .code img {
                                                height: 37px;
                                                border: 1px solid #E6E6E6;
                                            }
                                        </style>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="height: 60px"></div>
    <!--[if !IE]> -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>

    <!-- <![endif]-->


    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='__PUBLIC__/ace/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='__PUBLIC__/ace/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>

    <script>
        var vName = 0;
        var vCode = 0;
        var m = 60;
        var timer = null;
        var v = null;

        layui.use('element', function () {
            var element = layui.element();

        });

        $('#codepic').click(function () {
            $(this).attr('src', $('#codepic').attr('src') + '?yzm=' + Math.random());
        });

        layui.use('form', function () {
            var form = layui.form();

            form.verify({
                pass: [
                    /((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))^.{8,16}$/
                    , '密码必须8到16位，数字、字母、字符至少包含两种'
                ]
            });

        });

        function judge() {
            var pwd1 = $('#pwd1').val();
            var pwd2 = $('#pwd2').val();
            if (pwd1 != pwd2) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.tips('密码与确认密码不相同', '#pwd2');
                });
                return false
            }

            if(vCode == 0) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.tips('验证码不正确!', '#code', {tips: [1, '#0FA6D8']});
                });
            }

            if(vName == 0) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.tips('用户名出问题啦!', '#username1', {tips: [1, '#0FA6D8']});
                });
            }

            if (vCode == 1 && vName == 1) {
                return true
            }

            return false;
        }

        function judged() {
            var pwd1 = $('#passwd1').val();
            var pwd2 = $('#passwd2').val();
            if (pwd1 != pwd2) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.tips('密码与确认密码不相同', '#pwd2');
                });
                return false
            }

            if (vCode == 1 && vName == 1) {
                return true
            }

            return false;
        }

        $('#username1').blur(function () {
            var username = $('#username1').val();
            if (username != '') {
                $.ajax({
                    url: "<{:U('Reg/usernametest')}>",
                    data: "val=" + username,
                    type: 'POST',
                    success: function (data) {
                        switch (data) {
                            case 'err':
                                layer.tips('用户名格式不正确!', '#username1', {tips: [1, '#ff0000']});
                                vName = 0;
                                break;
                            case 'null':
                                layer.tips('用户名不能为空!', '#username1', {tips: [1, '#ff0000']});
                                vName = 0;
                                break;
                            case false:
                                layer.tips('用户名已被使用!', '#username1', {tips: [1, '#ff0000']});
                                vName = 0;
                                break;
                            case true:
                                layer.tips('用户名可以使用!', '#username1', {tips: [1, '#0FA6D8']});
                                vName = 1;
                                break;
                        }
                    }
                })
            }
        });

        $('#code').blur(function () {
            var code = $('#code').val();
            $.post('<{:U("Home/Reg/codetest")}>', {'val': code}, function (data) {
                if (data != true) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.tips('验证码不正确!', '#code', {tips: [1, '#0FA6D8']});
                    });
                    vCode = 0;
                } else {
                    vCode = 1;
                }
            });
        });

        //手机号码ajax验证
        $('#sendMessage').click(function () {
            // console.log($('#username').val());
            $.ajax({
                url: "<{:U('Reg/sendSms')}>",
                data: "val=" + $('#username').val(),
                type: 'POST',
                success: function (data) {
                    if (data == 'err') {
                        layer.tips('手机号不正确!', '#username', {tips: [1, '#0FA6D8']});
                    } else {
                        v = data;
                        console.log(data);
                        $('#sendMessage').attr('disabled', 'disabled');
                        $('#sendMessage').html('60秒后重新发送');
                        timer = setInterval(demo, 1000);
                    }
                }
            })
        })

        //定时函数
        function demo() {
            if (m < 0) {
                clearInterval(timer);
                $('#sendMessage').removeAttr('disabled');
                $('#sendMessage').html('发送验证码');
                return;
            }

            $('#sendMessage').html(m + '秒后重新发送');
            m--;

        }

        //判断验证码是否一致
        $('#phonecode').blur(function () {
            if (v == $('#phonecode').val()) {
                vCode = 1;
                layer.tips('恭喜，验证码正确', '#phonecode');
            } else {
                vCode = 0;
                // layer.tips('验证码不正确!', '#phonecode', {tips: [1, '#0FA6D8']});
            }
        })
        //判断账号是否重复
        $('#account').blur(function () {
            $.ajax({
                url: "<{:U('Reg/usernametest')}>",
                data: "val=" + $('#account').val(),
                type: 'POST',
                success: function (data) {
                    switch (data) {
                        case 'err':
                            layer.tips('用户名格式不正确!', '#account', {tips: [1, '#ff0000']});
                            vName = 0;
                            break;
                        case 'null':
                            layer.tips('用户名不能为空!', '#account', {tips: [1, '#ff0000']});
                            vName = 0;
                            break;
                        case false:
                            layer.tips('用户名已被使用!', '#account', {tips: [1, '#ff0000']});
                            vName = 0;
                            break;
                        case true:
                            layer.tips('用户名可以使用!', '#account', {tips: [1, '#0FA6D8']});
                            vName = 1;
                            break;
                    }
                }
            })
        })
    </script>
</block>