<extend name="Public/layout"/>
<block name="content">
	<style>
		
	</style>
	<div class="header">	
      <div class="container"> 
  	     <div class="logo">
			<h1><a href="index.html">终点中文网</a></h1>
		 </div>

		 <div class="top_right">
		 <if condition="session('name') eq null">
		   <ul>
			<li><a href="<{:U('Reg/index')}>">注册</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>登录</span></a>
					  <div id="loginBox">                
						  <form id="loginForm" action="<{:U('Login/index')}>" method="post">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">用户名</label>
			                          <input type="text" name="username" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">密码</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="登录">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住我</i></label>
			            	</fieldset>
			                 <span><a href="#">忘记密码?</a></span>
						   </form>
				        </div>
			      </div>
			</li>
		 	</ul>
		     <else /><li style="list-style:none;color:white;">欢迎您：<a href="<{:U('Index/index')}>"><{:I('session.name')}></a>&nbsp;&nbsp;&nbsp;<a href="<{:U('Login/logout')}>">退出</a></li>
		 	 </if>
	     </div><!--top_right-->

		 <div class="clearfix"></div>
		</div>
	</div>

	<div class="register">
		<div class="container">
				<div class="regist">
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
				    <div class="col-sm-10">
				      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
				    </div>
				  </div>	  

				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-default">注册</button>
				    </div>
				  </div>
				</form>
				</div>
				<div class="clearfix"> </div>
		   </div>
	</div>


	<div class="grid_2">
		<div class="container"> 
			<div class="col-md-3 col_2">
				<h3>Stock Photo<br>Categories</h3>
			</div>
			<div class="col-md-9 col_5">
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Abstract</a></li>
			            <li><a href="stock.html">Animals/Wildlife</a></li>
			            <li><a href="stock.html">The Arts</a></li>
			            <li><a href="stock.html">Backgrounds/Textures</a></li>
			            <li><a href="stock.html">Beauty/Fashion</a></li>
			            <li><a href="stock.html">Buildings/Landmarks</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Business/Finance</a></li>
			            <li><a href="stock.html">Celebrities</a></li>
			            <li><a href="stock.html">Editorial</a></li>
			            <li><a href="stock.html">Education</a></li>
			            <li><a href="stock.html">Food and Drink</a></li>
			            <li><a href="stock.html">Healthcare/Medical</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Holidays</a></li>
			            <li><a href="stock.html">Illustrations/Clip-Art</a></li>
			            <li><a href="stock.html">Industrial</a></li>
			            <li><a href="stock.html">Interiors</a></li>
			            <li><a href="stock.html">Miscellaneous</a></li>
			            <li><a href="stock.html">Model Released Only</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Nature</a></li>
			            <li><a href="stock.html">Objects</a></li>
			            <li><a href="stock.html">Parks/Outdoor</a></li>
			            <li><a href="stock.html">People</a></li>
			            <li><a href="stock.html">Religion</a></li>
			            <li><a href="stock.html">Science</a></li>
		            </ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="support.html">Support</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="#">Categories</a></li>
         </ul>
         <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
	  </div>
	</div>
</block>