<extend name="Public/layout"/>
<block name="content">
	<div class="container">
	<div class="row">
		<div class="row">
			<div class="page-header">
			  <h1 class="h2">分类名1&nbsp;&nbsp;<small><a href="#">更多>></a></small></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
  </div>
	</div>
	</div>

<div class="container">
	<div class="row">
		<div class="row">
			<div class="page-header">
			  <h1 class="h2">分类名2&nbsp;&nbsp;<small><a href="#">更多>></a></small></h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		</div>
  </div>
	</div>
	</div>

	<script src="__PUBLIC__/layui/layui.js"></script>
</block>